<a href="https://colab.research.google.com/github/MasaakiMiyazaki/pythonpractice/blob/master/%E5%BC%81%E5%BD%93%E9%9C%80%E8%A6%81%E4%BA%88%E6%B8%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df1 = pd.read_csv('https://raw.githubusercontent.com/we-b/datasets_for_ai/master/train_foods.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/we-b/datasets_for_ai/master/test_food.csv')

In [0]:
df1['weather']

0      快晴
1      快晴
2      快晴
3      快晴
4      快晴
       ..
202     曇
203     曇
204    晴れ
205    快晴
206    快晴
Name: weather, Length: 207, dtype: object

In [0]:
df1.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [0]:
df2

,datetime,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2014-10-1,水,1,メンチカツ,420.0,NaN,NaN,NaN,雨,0,20.2
1,2014-10-2,木,0,バーベキューチキン,415.0,NaN,NaN,NaN,曇,--,23.9
2,2014-10-3,金,0,豚肉のマスタード焼き,405.0,NaN,NaN,NaN,晴れ,--,28.7
3,2014-10-6,月,1,麻婆春雨,400.0,NaN,NaN,NaN,雨,0.5,21.5
4,2014-10-7,火,0,厚揚げ肉みそ炒め,430.0,NaN,NaN,NaN,晴れ,--,22.1
5,2014-10-8,水,0,完熟トマトのホットカレー,420.0,NaN,NaN,NaN,晴れ,--,23.3
6,2014-10-9,木,0,豚キムチ炒め,435.0,NaN,キャリアアップ支援セミナー,NaN,曇,--,22.5
7,2014-10-10,金,0,ポークカレー,NaN,お楽しみメニュー,NaN,1.0,薄曇,--,26.1
8,2014-10-14,火,0,若鶏梅肉包揚げ,408.0,NaN,NaN,NaN,快晴,--,26.8
9,2014-10-15,水,1,ミックスグリル,450.0,料理長のこだわりメニュー,NaN,NaN,雨,1.5,15.6
10,2014-10-16,木,0,豚肉と白菜の中華炒め,400.0,NaN,NaN,NaN,晴れ,--,18.6
11,2014-10-17,金,0,ヒレカツ,415.0,NaN,ママの会,NaN,快晴,--,23.0
12,2014-10-20,月,1,豚柳川,426.0,NaN,NaN,NaN,薄曇,--,23.9
13,2014-10-21,火,0,ポーク生姜焼き,410.0,NaN,NaN,NaN,雨,0,20.2
14,2014-10-22,水,1,麻婆豆腐,415.0,NaN,NaN,NaN,雨,0,15.5
15,2014-10-23,木,1,ビーフストロガノフ,428.0,NaN,NaN,NaN,雨,0.5,14.7
16,2014-10-24,金,0,唐揚げ丼,NaN,お楽しみメニュー,NaN,NaN,快晴,--,18.7
17,2014-10-27,月,1,マス塩焼き,407.0,NaN,NaN,NaN,薄曇,--,22.7
18,2014-10-28,火,1,チンジャオロース,425.0,NaN,NaN,NaN,快晴,--,19.1
19,2014-10-29,水,0,厚切イカフライ,430.0,NaN,NaN,NaN,快晴,--,19.6
20,2014-10-30,木,0,鶏肉と野菜の黒胡椒炒め,426.0,NaN,NaN,NaN,晴れ,--,19.6
21,2014-10-31,金,0,八宝菜,436.0,NaN,NaN,NaN,曇,--,18.8
22,2014-11-4,火,0,豚肉の生姜焼き,440.0,NaN,NaN,NaN,晴れ,--,18.9
23,2014-11-5,水,1,ハンバーグ,425.0,NaN,NaN,NaN,曇,--,16.0
24,2014-11-6,木,1,彩り野菜と鶏肉の黒酢あん,410.0,NaN,NaN,NaN,曇,--,19.2
25,2014-11-7,金,0,ポークカレー,NaN,お楽しみメニュー,NaN,NaN,晴れ,--,20.1
26,2014-11-10,月,0,親子煮,412.0,NaN,NaN,1.0,快晴,--,21.2
27,2014-11-11,火,0,ポークのバーベキューソテー,426.0,NaN,NaN,NaN,曇,0,14.7
28,2014-11-12,水,0,鶏肉の唐揚げ,418.0,NaN,NaN,NaN,曇,--,14.4
29,2014-11-13,木,1,白身魚味噌焼き,396.0,近隣に飲食店複合ビルオープン,キャリアアップ支援セミナー,NaN,快晴,--,19.5
30,2014-11-14,金,1,エビフライ・エビカツ,427.0,NaN,NaN,NaN,快晴,--,15.8
31,2014-11-17,月,1,野菜ごろごろシチュー,433.0,NaN,NaN,NaN,薄曇,--,14.3
32,2014-11-18,火,1,麻婆豆腐,409.0,NaN,NaN,NaN,快晴,--,16.1
33,2014-11-19,水,0,ベルギー風チキンのクリーム煮,430.0,料理長のこだわりメニュー,NaN,NaN,快晴,--,14.9
34,2014-11-20,木,1,スタミナ炒め,421.0,NaN,NaN,NaN,曇,--,10.5
35,2014-11-21,金,0,ロコモコ丼,NaN,お楽しみメニュー,NaN,NaN,快晴,--,14.9
36,2014-11-25,火,1,なすと挽肉のはさみ揚げ,460.0,NaN,NaN,NaN,雨,1.5,11.4
37,2014-11-26,水,1,鶏肉の治部煮風,415.0,NaN,NaN,NaN,雨,1,9.2
38,2014-11-27,木,0,牛丼風,420.0,NaN,NaN,NaN,快晴,--,15.1
39,2014-11-28,金,0,鶏肉のスイートチリソース,416.0,NaN,NaN,NaN,曇,--,15.3

In [0]:
df1.shape

(207, 12)

In [0]:
df2.shape

(40, 11)

In [0]:
df1['weather']=df1['weather'].str.replace('快晴','0')
df1['weather']=df1['weather'].str.replace('晴れ','1')
df1['weather']=df1['weather'].str.replace('曇','2')
df1['weather']=df1['weather'].str.replace('薄2','3')
df1['weather']=df1['weather'].str.replace('雨','4')
df1['weather']=df1['weather'].str.replace('雪','5')
df1['weather']=df1['weather'].str.replace('雷電','6')

In [0]:
df1['weather']=df1['weather'].astype(float)

In [0]:
df1=df1.dropna(subset=['kcal'])

In [0]:
df1.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
28,2014-1-7,131,火,0,カレー入りソーセージカツ,404.0,NaN,NaN,NaN,0.0,--,7.3
29,2014-1-8,128,水,0,豚肉の生姜焼,462.0,NaN,NaN,NaN,2.0,--,9.8
30,2014-1-9,129,木,1,鶏チリソース,435.0,NaN,NaN,NaN,2.0,--,10.9
31,2014-1-10,87,金,0,手作りロースカツ,440.0,NaN,NaN,1.0,0.0,--,5.1
32,2014-1-14,129,火,1,鶏の照り焼きマスタード,376.0,NaN,NaN,NaN,1.0,--,5.8

In [0]:
namelist = df1["name"].unique()
for i in range(len(namelist)):
    df1["name"] = df1["name"].replace(namelist[i], str(i))

In [0]:
df1['name']=df1['name'].astype(float)

In [0]:
df1['name']

28       0.0
29       1.0
30       2.0
31       3.0
32       4.0
       ...
201    126.0
202    127.0
203    128.0
205    129.0
206    130.0
Name: name, Length: 166, dtype: float64

In [0]:
df1['y']=df1['y'].astype(float)

In [0]:
df1['y']

28     131.0
29     128.0
30     129.0
31      87.0
32     129.0
       ...
201     29.0
202     59.0
203     50.0
205     56.0
206     40.0
Name: y, Length: 166, dtype: float64

In [0]:
weatherlist = df1["weather"].unique()
print(weatherlist)

[0. 2. 1. 4. 5. 3. 6.]

In [0]:
print(len(weatherlist))

7

In [0]:
#ここから分析作業に入るよ

In [0]:
df1.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
28,2014-1-7,131.0,火,0,0.0,404.0,NaN,NaN,NaN,0.0,--,7.3
29,2014-1-8,128.0,水,0,1.0,462.0,NaN,NaN,NaN,2.0,--,9.8
30,2014-1-9,129.0,木,1,2.0,435.0,NaN,NaN,NaN,2.0,--,10.9
31,2014-1-10,87.0,金,0,3.0,440.0,NaN,NaN,1.0,0.0,--,5.1
32,2014-1-14,129.0,火,1,4.0,376.0,NaN,NaN,NaN,1.0,--,5.8

In [0]:
X=df1[['name','kcal','weather','temperature']]
y=df1['y']

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [0]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [0]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
print(lr.coef_,lr.intercept_)

[-0.19965789  0.09594984 -2.17263914 -1.75820342] 88.07827633243853

In [0]:
print(lr.score(X_train,y_train))

0.6587001059373324

In [0]:
print(lr.score(X_test,y_test))

0.616148636305855

In [0]:
#ここから問い2に入る

In [0]:
df1.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
28,2014-1-7,131.0,火,0.0,0.0,404.0,NaN,NaN,NaN,0.0,--,7.3
29,2014-1-8,128.0,水,0.0,1.0,462.0,NaN,NaN,NaN,2.0,--,9.8
30,2014-1-9,129.0,木,1.0,2.0,435.0,NaN,NaN,NaN,2.0,--,10.9
31,2014-1-10,87.0,金,0.0,3.0,440.0,NaN,NaN,1.0,0.0,--,5.1
32,2014-1-14,129.0,火,1.0,4.0,376.0,NaN,NaN,NaN,1.0,--,5.8

In [0]:
X=df1[['y','name','kcal','weather','temperature']]
df1['soldout']=df1['soldout'].astype(float)
y=df1['soldout']

In [0]:
X.head()
y.head()

28    0.0
29    0.0
30    1.0
31    0.0
32    1.0
Name: soldout, dtype: float64

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)
#やっぱりここは順番通りに書かないといけないらしい。

In [0]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [0]:
lr.fit(X_train,y_train)

/usr/local/lib64/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
y_p=lr.predict(X_test)

In [0]:
from sklearn.metrics import accuracy_score
accuracy_score(y_p,y_test)

0.64

In [0]:
print((y_p!=y_test).sum())

18

In [0]:
from sklearn.svm import SVC
svc=SVC()

In [0]:
svc.fit(X_train,y_train)

/usr/local/lib64/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [0]:
y_p=svc.predict(X_test)

In [0]:
print((y_p!=y_test).sum())

27

In [0]:
accuracy_score(y_p,y_test)

0.46

In [0]:
#両方めちゃ正答率低いやないかい！